<div ng-controller="future">
  <h3>Future Value of Money</h3>
    <form>
      <label for='present'>Present Value</label>
      <input id='present' name="present" ng-change='FVcalculate()' ng-model="data.present" > <br>
      <label for='years'>Years</label>
      <input id='years' name="years" ng-change='FVcalculate()' ng-model='data.years' > <br>
      <label for='compound'>Compound Type</label>
      <select  id='compound' name='compound' ng-model='data.compound' ng-change='FVcalculate()' >
        <option value="">Please Select Compound Type</option>
        <option value=1>Anually</option>
        <option value=2>Semianually</option>
        <option value=4>Quarterly</option>
        <option value=12>Monthly</option>
      </select> <br>
      <label for='iRate'>Interest Rate</label> <input id='iRate' name="rate" ng-change='FVcalculate()' ng-model='data.rate' >% <br>
      <label>Future Value</label> {{ data.futureValue }}
    </form>
</div>
