<div ng-controller='inflationAdjReturn' id='calculator' class="animated bounceInDown">
  <h3>Inflation-Adjusted Return</h3>
  <form>
    <label for='return'>Investment Reurn</label>
    <div class="input-row">
      <div class="currency_row short">
      </div>
      <div class="currency_row">
        <input id='return' name="name" ng-change='inCalculate()'ng-model='data.invRet' >
        <div class="currency_row short">
          %
        </div>
      </div>
    </div>
    <label for='inflation'>Inflation</label>
    <div class="input-row">
      <div class="currency_row short">
      </div>
      <div class="currency_row">
        <input id='inflation' name="name" ng-change='inCalculate()' ng-model='data.inf'>
        <div class="currency_row short">
          %
        </div>
      </div>
    </div>
    <label>Real Return</label> {{data.return}}
  </form>
  <a ui-sref=".des_inflation" ng-click="showModal()" id="trigger" class='fa fa-info-circle fa-lg btn btn-info'></a>
  <div ng-show="showDescription" >
    <div ui-view> </div>
  </div>
</div>
